.footer-container {
      width: 1440px;
}
.footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 115px 80px 115px;
}
.siphome {
      width: 400px;
      margin-right: 70px;
		&__logo-wrap {
            width: 158px;
            height: 42px;
            margin-bottom: 40px;
		}

		&__logo {
            width: 158px;
            height: 42px;
		}

		&__adress {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            color: #262B35;
            margin-bottom: 50px;
		}

		&__phone {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            color: #262B35;
            cursor: pointer;
		}

		&__email {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            color: #262B35;
            cursor: pointer;
		}
}
.navigation {
      width: 240px;
		&__title {
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 240%;
            color: #262B35;
		}

		&__item {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 240%;
            color: #606C84;
            cursor: pointer;
            &:hover{
                  color: #1C57C9;
                  font-weight: 600;
            }
		}
}
.about {
      width: 220px;
		&__title {
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 240%;
            color: #262B35;
		}

		&__item {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 240%;
            color: #606C84;
            cursor: pointer;
            &:hover{
                  color: #1C57C9;
                  font-weight: 600;
            }
		}
}
.connected {
      width: 220px;
		&__title {
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 240%;
            color: #262B35;
		}

		&__list {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 240%;
            color: #606C84;
		}
}
.fasebook {
        display: flex;
        align-items: center;
		&__logo {
            width: 26px;
            height: 26px;
		}

		&__text {
            padding-left: 20px;
            cursor: pointer;
                &:hover{
                color: #1C57C9;
                font-weight: 600;
                }
		}
}
.twitter {
        display: flex;
        align-items: center;
		&__logo {
            width: 26px;
            height: 26px;
		}

		&__text {
            padding-left: 20px;
            cursor: pointer;
                &:hover{
                color: #1C57C9;
                font-weight: 600;
                }
		}
}
.instagram {
        display: flex;
        align-items: center;
		&__logo {
            width: 26px;
            height: 26px;
		}

		&__text {
            padding-left: 20px;
                &:hover{
                color: #1C57C9;
                font-weight: 600;
                }
		}
}
.lls {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #606C84;
    padding: 30px 0px 30px 0px;
    text-align: center;
}
