@import "_common.scss";

.heder-container {
	width: 100%;
	height: 930px;
	position: relative;
	overflow: hidden;

	&__left-bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 76.39%;
		height: 80%;
		background-color: #1C57C9;
		border-radius: 0px 0px 460px 0px;
	}

		&__bg-blue {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__bg-large-picture {
		position: absolute;
		top: 230px;
		right: 30px;
		z-index: 3;
	}

	&__bg-small-picture {
		position: absolute;
		bottom: 0px;
		right: -120px;
		z-index: 3;
	}
}
.header {
	position: absolute;
	top: 20px;
	left: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 74px;
	z-index: 5;
}
.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 167px;
	height: 42px;
	&__picture {
		display: block;
		width: 42px;
		height: 42px;
	}

	&__text {
		width: 113px;
		height: 24px;
	}
}
.nav {

	&__item {
	}
}
.registration {

	&__get-startes {
	}

	&__sing-in {
	}
}
.main {

	&__title {
	}

	&__text {
	}

	&__btns {
	}
}
.btns {

	&__start {
	}

	&__learn {
	}
}
