@media screen and (max-width: 1440px){
    .features-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 90px 72px 0px 72px;
}
.fearures {
    width: 640px;
		&__title {
            text-align: center;
		}

		&__sub-title {
            text-align: center;
		}

		&__text {
            text-align: center;
            width: 640px;
		}
}
.detection {
        display: flex;
        flex-direction: column;
        align-items: center;

		&__title {
            text-align: center;
		}

		&__text {
            width: 280px;
            text-align: center;
		}
}
.diagnostics {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
            width: 280px;
        }
    }
    .prevention {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
    .service {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
            width: 280px;
        }
    }
}

@media screen and (max-width: 1024px){
    .features-container {
        padding-top: 0px;
        width: 100%;

        &__picture {
            margin-bottom: 40px;
            z-index: 100;
        }

    }
    .fearures {
            &__points {
                align-items: center;
                width: 682px;
            }
    }
    .detection {
            width: 331px;
    }
    .diagnostics {
            width: 331px;
            margin: 0px;
    }
    .prevention {
            width: 331px;
            margin-top: 36px;
    }
    .service {
            width: 331px;
            margin: 36px 0px 0px 0px;
    }
}

@media screen and (max-width: 768px){
.features-container {
        padding: 0px;

		&__picture {
            width: 320px;
            height: 320px;
		}

		&__right {
            width: 100%;
		}
}
.fearures {
		&__sub-title {
            font-size: 32px;
            line-height: 140%;
		}

		&__text {
            width: 92%;
            margin: 0px auto 50px auto;
		}

		&__points {
            width: 100%;
            flex-wrap: nowrap;
            flex-direction: column;
		}
}
.detection {
    width: 260px;

		&__text {
            width: 260px;
		}
}
.diagnostics {
    width: 260px;

		&__text {
            width: 260px;
		}
}
.prevention {
    width: 260px;

		&__text {
            width: 260px;
		}
}
.service {
    width: 260px;

		&__text {
            width: 260px;
		}
}

}



