@media screen and (max-width: 1440px){
        .update-container {
                width: 100%;
                height: 1942px;
        }
        .update {
                margin-top: 160px;
                        &__small-img {
                                left: 45px;
                                top: 260px;
                                border-radius: 24px;
                        }
        
                        &__midle-img {
                                top: 320px;
                                left: 420px;
                        }
        
                        &__big-img {
                                left: 45px;
                                top: 540px;
                        }
        
                        &__midle-dot {
                                display: none;
                        }
        
                        &__bottom-dot {
                                display: none;
                        }
        
                        &__blue-dot {
                                bottom: 167px;
                        }
        
                        &__left {
                                left: 0px;
                                width: 100%;
                                text-align: center;
                        }
        
                        &__sub-title {
                                width: 440px;
                                margin: 0 auto;
                        }
        
                        &__right {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-auto-rows: 300px;
                                background: #1C57C9;
                                background-image: none;
                                width: 100%;
                                height: 1104px;
                                top: 680px;
                                left: 0px;
                                padding: 320px 76px 0px 76px;
                                border-radius: 0px 0px 0px 300px;
                        }
        }
        .monitor {
                flex-direction: column;
                margin: 0px auto;
                padding: 0px;
                width: 331px;
                height: auto;
                        &__picture-wrap {
                                width: 60px;
                                height: 60px;
                                margin: 0px auto 30px auto;
                        }
        
                        &__picture {
                                width: 60px;
                                height: 60px;
                        }
        
                        &__info {
                                width: 100%;
                                margin: 0px;
                        }
        
                        &__title {
                                text-align: center;
                                width: 100%;
                        }
        
                        &__text {
                                text-align: center;
                                width: 280px;
                                margin: 0px auto;
                        }
        }
        .maintenance {
                flex-direction: column;
                padding: 0px;
                margin: 0px auto;
                width: 331px;
                height: auto;
                &__picture-wrap {
                        width: 60px;
                        height: 60px;
                        margin: 0px auto 30px auto;
                }

                &__picture {
                        width: 60px;
                        height: 60px;
                }

                &__info {
                        width: 100%;
                        margin: 0px;
                }

                &__title {
                        text-align: center;
                        width: 100%;
                }

                &__text {
                        text-align: center;
                        width: 280px;
                        margin: 0px auto;
                }
        }
        .repair {
                flex-direction: column;
                padding: 0px;
                margin: 25px auto 0px auto;
                width: 331px;
                height: auto;
                &__picture-wrap {
                        width: 60px;
                        height: 60px;
                        margin: 0px auto 30px auto;
                }

                &__picture {
                        width: 60px;
                        height: 60px;
                }

                &__info {
                        width: 100%;
                        margin: 0px;
                }

                &__title {
                        text-align: center;
                        width: 100%;
                }

                &__text {
                        text-align: center;
                        width: 280px;
                        margin: 0px auto;
                }
        }
        .replace {
                flex-direction: column;
                padding: 0px;
                margin: 25px auto 0px auto;
                width: 331px;
                height: auto;
                &__picture-wrap {
                        width: 60px;
                        height: 60px;
                        margin: 0px auto 30px auto;
                }

                &__picture {
                        width: 60px;
                        height: 60px;
                }

                &__info {
                        width: 100%;
                        margin: 0px;
                }

                &__title {
                        text-align: center;
                        width: 100%;
                }

                &__text {
                        text-align: center;
                        width: 280px;
                        margin: 0px auto;
                }
        }
}

@media screen and (max-width: 768px){
        .update-container {
                height: 2281px;
        }
        .update {
                        &__small-img {
                                left: -3px;
                                border-radius: 0px 30px 30px 0px;
                                width: 168px;
                                height: 135px;
                        }
        
                        &__midle-img {
                                right: -3px;
                                left: auto;
                                top: 305px;
                                border-radius: 30px 0px 0px 30px;
                        }
        
                        &__big-img {
                                left: -3px;
                                top: 420px;
                        }
        
                        &__blue-dot {
                                display: none;
                        }
        
                        &__sub-title {
                                width: 320px;
                                font-size: 32px;
                        }
        
                        &__right {
                                top: 495px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                height: 1620px;
                                padding: 260px 0px 0px 0px;
                                border-radius: 0px 0px 0px 150px;
                        }
        }
        .monitor {
                width: 100%;
                height: 300px;
                        &__info {
                                height: auto;
                        }
        }
        .maintenance {
                height: 308px;
        }
        .replace {
                height: 300px;
                margin:  0px;
        }
        .repair {
                height: 300px;
                margin:  0px;
        }
        
}